img {
    width: 8vh;
    height: 5vh;
}

h1 {
    color: #FEFEF4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    font-style: bold;
}

a {
    color: #FEFEF4;

    padding: 10px;
    text-decoration: none;
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    margin:0;
    background-color: #FEFEF4;
}


.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(48, 48, 48);
    margin: 0px;
    align-items: center;
    height: 7vh;
    position: fixed;
    width: 100%;


    .linkknappting {
        border: solid;
        border-color: #FEFEF4;
        border-radius: 10px;
        border-width: 4px;
        margin: 20px;
    }

    .linkknappting:hover {
        border: solid;
        color: black;
        border-color: #FEFEF4;
        background-color: #FEFEF4;

    }

}


.content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 7%;

    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    display: flex;
    justify-content: center;
    margin: 0px;

}
