

.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(48, 48, 48);
    margin: 0px;
    align-items: center;
    height: 7vh;
    position: fixed;
    width: 100%;
    
}
.content{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

